<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRACTICA.My.MySettings.pruebaConnectionString" connectionString="Data Source=(localdb)\myserverAdricast;Initial Catalog=prueba;Integrated Security=True;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
